@font-face {
  font-family('Josefin Slab');
  src: url("../fonts/Josefin_Slab");
}

body {
  background-color: #591723;
  color: #B7ACA8;
  font-family: 'Josefin Slab', serif;
}


h2 a {
  color: #A8A8A8;
}

iframe {
   border-style: none;
   width: 100%; 
   height: 600px;
}

.countdown {
  font-size: .85em;
  color: #6b6b6b;
}

.panel-body {
  color: #000000;
}

.panel-body h1, h2, h3{
  font-weight: bold;
}

.panel-title {
 font-weight: bold;

}
