<div class="panel panel-default" id="apache-fuskei">
    <div class="panel-heading" role="tab" id="apache-fuskei-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#apache-fuskei-body" aria-expanded="true" aria-controls="apache-fuskei-body">Apache Fuskei</a>
        </a>
      </h3>
    </div>
    <div id="apache-fuskei-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="apache-fuskei-head">
      <div class="panel-body"></div>
    </div>
 </div>