<div class="panel panel-default hidden" id="bibcat">
    <div class="panel-heading" role="tab" id="bibcat-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#bibcat-body" 
           aria-expanded="true" aria-controls="bibcat-body">BIBCAT</a>
      <span class="badge pull-right">18/24</span>
      </h4>
    </div>
    <div id="bibcat-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bibcat-head">
      <div class="panel-body">
        <h1>BIBCAT</h1>
        <p class="lead">Aaron Schmidt of Influx Library User Interface Design and I were award a
         contract with the Library of Congress for a <b>BIBFRAME Search and Display Systems</b>
         that resulted in BIBCAT - a BIBFRAME Catalog a lightweight catalog web application that
         uses the backend BIBFRAME Datastore. 
        <iframe src="http://bibcat.org" frameborder="0" border="0" cellspacing="0"></iframe>
      </div>
    </div>
 </div>
