<div class="panel panel-default hidden" id="bibcat-reporting-module">
    <div class="panel-heading" role="tab" id="bibcat-reporting-module-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#bibcat-reporting-module-body" aria-expanded="true" aria-controls="bibcat-reporting-module-body">BIBCAT Reporting Module</a>
        <span class="badge pull-right">20/24</span>
      </h4>
    </div>
    <div id="bibcat-reporting-module-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bibcat-reporting-module-head">
      <div class="panel-body">
         <h1>BIBCAT Reporting Module</h1>
         <p class="lead">In the design-and-build phase for the second release of  
         <a href="http://bibcat.org">bibcat</a>, this work for the Library of Congress will 
         improve the reporting and analytics to both the BIBFRAME Datastore and bibcat using
         <a href="https://www.elastic.co/products/kibana">Kibana</a> and
         <a href="https://www.elastic.co/products/logstash">Logstash</a>.
      </div>
    </div>
 </div>
