<div class="panel panel-default hidden" id="bibframe-annotations-authorities">
    <div class="panel-heading" role="tab" id="bibframe-annotations-authorities-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#bibframe-annotations-authorities-body" 
           aria-expanded="true" aria-controls="bibframe-annotations-authorities-body">BIBFRAME Annotations & Authorities</a>
        <span class="badge pull-right">11/24</span> 
      </h4>
    </div>
    <div id="bibframe-annotations-authorities-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bibframe-annotations-authorities-head">
      <div class="panel-body">
        <h1>BIBFRAME Annotations & Authorities</h1>
        <div class="row">
          <article class="col-md-7">


          </article>
          <section class="col-md-4">
             <img src="{{ url_for('static', filename='img/bf-authority-annotations.png') }}">
          </section>
        </div>
      </div>
    </div>
 </div>
