<div class="panel panel-default" id="bibframe-works-instances">
    <div class="panel-heading" role="tab" id="bibframe-works-instances-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#bibframe-works-instances-body" aria-expanded="true" 
          aria-controls="bibframe-works-instances-body">BIBFRAME Works &amp; Instances</a>

        <span class="badge pull-right">10/24</span> 
      </h3>
    </div>
    <div id="bibframe-works-instances-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bibframe-works-instances-head">
      <div class="panel-body">
        <h1>BIBFRAME Works &amp; Instances</h1>

      </div>
    </div>
 </div>
