<div class="panel panel-default hidden" id="bibframe-datastore-services-api">
    <div class="panel-heading" role="tab" id="bibframe-datastore-services-api-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#bibframe-datastore-services-api-body" aria-expanded="true" 
           aria-controls="bibframe-datastore-services-api-body">BIBFRAME Datastore Services API</a>
        <span class="badge pull-right">16/24</span>
      </h4>
    </div>
    <div id="bibframe-datastore-services-api-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bibframe-datastore-services-api-head">
      <div class="panel-body">
        <h1>BIBFRAME Datastore Services API</h1>
      </div>
    </div>
 </div>
