<div class="panel panel-default" id="bibframe-annotations-authorities">
    <div class="panel-heading" role="tab" id="bibframe-annotations-authorities-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#bibframe-annotations-authorities-body" aria-expanded="true" aria-controls="bibframe-annotations-authorities-body">BIBFRAME Annotations & Authorities</a>
        </a>
      </h3>
    </div>
    <div id="bibframe-annotations-authorities-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="bibframe-annotations-authorities-head">
      <div class="panel-body"></div>
    </div>
 </div>