<div class="panel panel-default" id="bibframe-datastore-services-api">
    <div class="panel-heading" role="tab" id="bibframe-datastore-services-api-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#bibframe-datastore-services-api-body" aria-expanded="true" aria-controls="bibframe-datastore-services-api-body">BIBFRAME Datastore Services API</a>
        </a>
      </h3>
    </div>
    <div id="bibframe-datastore-services-api-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="bibframe-datastore-services-api-head">
      <div class="panel-body"></div>
    </div>
 </div>