<div class="panel panel-default" id="bibframe-works-instances">
    <div class="panel-heading" role="tab" id="bibframe-works-instances-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#bibframe-works-instances-body" aria-expanded="true" aria-controls="bibframe-works-instances-body">BIBFRAME Works & Instances</a>
        </a>
      </h3>
    </div>
    <div id="bibframe-works-instances-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="bibframe-works-instances-head">
      <div class="panel-body"></div>
    </div>
 </div>