<div class="panel panel-default hidden" id="bibframe-datastore">
    <div class="panel-heading" role="tab" id="bibframe-datastore-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#bibframe-datastore-body" aria-expanded="true" aria-controls="bibframe-datastore-body">BIBFRAME Datastore</a>
         <span class="badge pull-right">15/24</span>
      </h4>
    </div>
    <div id="bibframe-datastore-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bibframe-datastore-head">
      <div class="panel-body">
       <h1>BIBFRAME Datastore</h1>
       <p class="lead">
         The BIBFRAME Datastore project extends the 
         core functionality of the Semantic Server. The BIBFRAME Datastore contains BIBFRAME 
         specific functionality, BIBFRAME
         specific Fedora configuration files, Elasticsearch with BIBFRAME mappings, 
         and a Fuskei server.
       </p>
       <img src="{{ url_for('static', filename='img/bf-ds-semantic-server.svg') }}" class="img-thumbnail center-block">
      </div>
    </div>
 </div>
