<div class="panel panel-default hidden" id="bibframe-works-instances">
    <div class="panel-heading" role="tab" id="bibframe-works-instances-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#bibframe-works-instances-body" aria-expanded="true" 
          aria-controls="bibframe-works-instances-body">BIBFRAME Works &amp; Instances</a>

        <span class="badge pull-right">9/24</span> 
      </h3>
    </div>
    <div id="bibframe-works-instances-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bibframe-works-instances-head">
      <div class="panel-body">
        <h1>BIBFRAME Works &amp; Instances</h1>
       <p class="lead">Using the Semantic Server has allowed me to experiment with different Linked-Data 
       vocabularies but given my interest on library data, I've been mostly interested in two; 
       <a href="http://schema.org">schema.org</a> and <a href="http://bibframe.org">BIBFRAME</a>, with 
       most of my development work for the past few years focusing on the BIBFRAME, the Library of Congress
       replacement for MARC.</p>
        <div class="row">
          <section class="col-md-4">
            <img src="{{ url_for('static', filename='img/bf-work-instance.png') }}">
          </section>
          <article class="col-md-8">
            <p class="lead">In the BIBFRAME Datastore, RDF graphs for 
            <a href="http://bibframe.org/vocab/Work">Work</a>s and
            <a href="http://bibframe.org/vocab/Instance">Instances</a> are broken out into 
            subject graphs that are ingested into Fedora, Fuseki, and then indexed in Elasticsearch. 
            Work is defined as "As an 
            abstract representation of the conceptual essence of a resource". Here is partial example of 
            BIBFRAME Work for Lewis Carroll's <em>Alice in Wonderland</em>:
            <table class="table">
              <tr>
               <th>Work URI</th>
               <th>Predicate</th>
               <th>Object</th>
              </tr>
              <tr>
               <td rowspan="5">
                 http://catalog.coloradocollege.edu/3417443
               </td>
               <td>rdf:type</td>
               <td>bf:Text<br>bf:Work</td>
              </tr>
              <tr>
                <td>bf:authorizedAccessPoint</td>
                <td>"Carroll, Lewis, 1832-1898. Alice's adventures in wonderland 
                    :and Through the looking-glass"</td>
              </tr>
              <tr>
                <td>bf:creator</td>
                <td>http://catalog.coloradocollege.edu/3417443person6</td>
              </tr>
              <tr>
                <td>bf:language</td>
                <td>http://id.loc.gov/vocabulary/languages/eng</td>
              </tr>
            </table>
            <p class="lead">BIBFRAME Instance are </p>
            <table class="table">
              <tr>
               <th>Instance URI</th>
               <th>Predicate</th>
               <th>Object</th>
              </tr>
              <tr>
               <td rowspan="5">
                http://catalog.coloradocollege.edu/3417443instance13
               </td>
               <td>rdf:type</td>
               <td>bf:Instance<br>bf:Monograph</td>
              </tr>
              <tr>
               <td>bf:providerStatement</td>
               <td>"New York : Illustrated Editions Co. 19--?"</td>
              </tr>
              <tr>
               <td>bf:instanceOf</td>
               <td>http://catalog.coloradocollege.edu/3417443</td>
              </tr>

             </table>
          </article>
        </div>
      </div>
    </div>
 </div>
