<div class="panel panel-default" id="bibframe-datastore">
    <div class="panel-heading" role="tab" id="bibframe-datastore-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#bibframe-datastore-body" aria-expanded="true" aria-controls="bibframe-datastore-body">BIBFRAME Datastore</a>

         <span class="badge pull-right">15/24</span>
      </h4>
    </div>
    <div id="bibframe-datastore-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bibframe-datastore-head">
      <div class="panel-body">
       <h1>BIBFRAME Datastore</h1>
      </div>
    </div>
 </div>
