<div class="panel panel-default hidden" id="catalog-pull-platform">
    <div class="panel-heading" role="tab" id="catalog-pull-platform-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#catalog-pull-platform-body" aria-expanded="true" 
           aria-controls="catalog-pull-platform-body">Catalog Pull Platform</a>
      <span class="badge pull-right">4/24</span>     
      </h3>
    </div>
    <div id="catalog-pull-platform-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="catalog-pull-platform-head">
      <div class="panel-body">
        <h1>Catalog Pull Platform</h1>
        <p class="lead">
          The Catalog Pull Platform is my attempt to create a  more inclusive, narrative-driven, and iterative         
          process  - an open-source vision of library technology -
          for libraries of all sizes to build bibliographic and operational applications with a current  
          focus on small libraries with limited resources.
        </p>
        <img src="{{ url_for('static', filename='img/catalog-pull-platform.svg') }}" class="center-block">
      </div>
    </div>
 </div>
