<div class="panel panel-default" id="colorado-college-website">
    <div class="panel-heading" role="tab" id="colorado-college-website-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#colorado-college-website-body" aria-expanded="true" aria-controls="colorado-college-website-body">Colorado College Website</a>
        </a>
      </h3>
    </div>
    <div id="colorado-college-website-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="colorado-college-website-head">
      <div class="panel-body"></div>
    </div>
 </div>