<div class="panel panel-default hidden" id="colorado-college-library-website">
    <div class="panel-heading" role="tab" id="colorado-college-library-website-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#colorado-college-library-website-body" aria-expanded="true" aria-controls="colorado-college-library-website-body">
           Colorado College Library Website</a>
        <span class="badge pull-right">21/24</span>
      </h4>
    </div>
    <div id="colorado-college-library-website-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="colorado-college-library-website-head">
      <div class="panel-body">
        <h1>Colorado College Library Website</h1>
      </div>
    </div>
 </div>
