<div class="panel panel-default hidden" id="connecting-people-and-institutions-with-algorithms">
    <div class="panel-heading" role="tab" id="connecting-people-and-institutions-with-algorithms-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#connecting-people-and-institutions-with-algorithms-body" aria-expanded="true" aria-controls="connecting-people-and-institutions-with-algorithms-body">Connecting People and Institutions with Algorithms
         </a>
         <span class="badge pull-right">5/24</span>
      </h3>
    </div>
    <div id="connecting-people-and-institutions-with-algorithms-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="connecting-people-and-institutions-with-algorithms-head">
      <div class="panel-body">
       <h2>Connecting People</h2>
      <img src="{{ url_for('static', filename='img/people.png') }}" alt="People graphic">     

     <ul>
       <li>
         <h3>to their own and external institutions </h3>
         <p class="lead">
          Institutional information and reporting requirements for libraries
          takes significant effort (at least at a small institution like Colorado College),
          These requirements are a primary source of "pull" for the Catalog Pull Platform.
         </p> 
       </li>
       <li>
         <h3>to algorithms that impact their work &amp; their lives</h3>
         <p class="lead">With Marc Andreessen's assertion that 
        "<a href="http://www.wsj.com/articles/SB10001424053111903480904576512250915629460">Software is Eating The World</a>", the more we can open-up our systems for algorithmic access, 
        specifically APIs, the more utility we give to our communities. At the minimum, an API
        should be one of the first requirements for our new or updating existing systems.
       </li>
       <li>
         <h3>and most importantly to other People</h3>
         <p class="lead">Our systems are a two-way conversation between the institution and
          the end users and patrons. Understanding our patrons and our communities comes 
          the most significant source of pull in the Catalog Pull Platform.  
       </li>
      </div>
    </div>
 </div>
