<div class="panel panel-default" id="connecting-people-and-institutions-with-algorithms">
    <div class="panel-heading" role="tab" id="connecting-people-and-institutions-with-algorithms-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#connecting-people-and-institutions-with-algorithms-body" aria-expanded="true" aria-controls="connecting-people-and-institutions-with-algorithms-body">Connecting People and Institutions with Algorithms
         </a>
         <span class="badge pull-right">4/24</span>
      </h3>
    </div>
    <div id="connecting-people-and-institutions-with-algorithms-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="connecting-people-and-institutions-with-algorithms-head">
      <div class="panel-body">
       <h2>Connecting People</h2>
     <ul>
       <li>
         <h3>to their own institutions</h3>
          
       </li>
       <li>
         <h3>to algorithms that impact their work &amp; their lives</h3>
       </li>
       <li>
         <h3>and most importantly to other People</h3>
       </li>
      </div>
    </div>
 </div>
