<div class="panel panel-default hidden" id="elasticsearch">
    <div class="panel-heading" role="tab" id="elasticsearch-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#elasticsearch-body" aria-expanded="true" aria-controls="elasticsearch-body">Elasticsearch</a>

       <span class="badge pull-right">12/24</span>  
      </h4>
    </div>
    <div id="elasticsearch-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="elasticsearch-head">
      <div class="panel-body">
       <h1>Elasticsearch</h1>
       <img src="{{ url_for('static', filename='img/elastic-search-logo.png') }}" class="img-thumbnail pull-right">
       <p class="lead">


       </p>
      </div>
    </div>
 </div>
