<div class="panel panel-default" id="elasticsearch">
    <div class="panel-heading" role="tab" id="elasticsearch-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#elasticsearch-body" aria-expanded="true" aria-controls="elasticsearch-body">Elasticsearch</a>
        </a>
      </h3>
    </div>
    <div id="elasticsearch-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="elasticsearch-head">
      <div class="panel-body"></div>
    </div>
 </div>