<div class="panel panel-default hidden" id="fedora-4-for-named-graphs">
    <div class="panel-heading" role="tab" id="fedora-4-for-named-graphs-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#fedora-4-for-named-graphs-body" aria-expanded="true" 
           aria-controls="fedora-4-for-named-graphs-body">Fedora 4 for Named Graphs</a>
        <span class="badge pull-right">11/24</span>
      </h3>
    </div>
    <div id="fedora-4-for-named-graphs-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fedora-4-for-named-graphs-head">
      <div class="panel-body">
        <h1>Fedora 4 for Named Graphs</h1>
        <img src="{{ url_for('static', filename='img/fedora4_logo.png') }}" class="pull-right">
        <p class="lead">
          Fedora 4's explict goal of becoming a library <a href="http://www.w3.org/TR/2015/REC-ldp-20150226/">linked-data 
          platform</a>. As this was a topic of another talk at Open Repositories, I won't
          go into further detail other than to say that in the Catalog Pull Platform,
          Fedora stores the RDF and datastreams of our BIBFRAME entities and provides 
          structural metadata as well a descriptive metadata. 
        </p>
       <h2>Sources for BIBFRAME RDF Graphs</h2>
       <p class="lead">
         The primary source for BIBFRAME RDF graphs is the Library of Congress
         <a href="https://github.com/lcnetdev/marc2bibframe">marc2bibframe</a> 
         XQuery-based conversion project.  
       </p>
       <img src="{{ url_for('static', filename='img/fedora-bf.png') }}" 
        alt="Screenshot of BIBFRAME work in Fedora Four" class="img-thumbnail">
      </div>
    </div>
 </div>
