<div class="panel panel-default hidden" id="fedora-4-for-named-graphs">
    <div class="panel-heading" role="tab" id="fedora-4-for-named-graphs-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#fedora-4-for-named-graphs-body" aria-expanded="true" 
           aria-controls="fedora-4-for-named-graphs-body">Fedora 4 for Named Graphs</a>
        <span class="badge pull-right">9/24</span>
      </h3>
    </div>
    <div id="fedora-4-for-named-graphs-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fedora-4-for-named-graphs-head">
      <div class="panel-body">
        <h1>Fedora 4 for Named Graphs</h1>
        <img src="{{ url_for('static', filename='img/fedora4_logo.png') }}" class="pull-right">
        <p class="lead">
          Fedora 4's explict goal of becoming a library <a href="http://www.w3.org/TR/2015/REC-ldp-20150226/">linked-data 
          platform</a>
        </p>
      </div>
    </div>
 </div>
