<div class="panel panel-default" id="fedora-4-for-named-graphs">
    <div class="panel-heading" role="tab" id="fedora-4-for-named-graphs-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#fedora-4-for-named-graphs-body" aria-expanded="true" aria-controls="fedora-4-for-named-graphs-body">Fedora 4 for Named Graphs</a>
        </a>
      </h3>
    </div>
    <div id="fedora-4-for-named-graphs-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="fedora-4-for-named-graphs-head">
      <div class="panel-body"></div>
    </div>
 </div>