<div class="panel panel-default" id="introduction">
    <div class="panel-heading" role="tab" id="introduction-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#introduction-body" 
        aria-expanded="true" aria-controls="introduction-body">Introduction <span class="badge pull-right">1/24</span></a>
        </a>
      </h3>
    </div>
    <div id="introduction-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="introduction-head">
      <div class="panel-body">
         <h1>Introduction</h1>
         <div class="row">
           <article class="col-md-6">
           <p class="lead ">
           <img src="{{ url_for('static', filename='img/jeremy-nelson.png') }}" class="img-thumbnail pull-left">
           My name is Jeremy Nelson and I am the Metadata and Systems Librarian
           at Colorado College, a private liberal arts college in Colorado Springs, 
           Colorado. 
           </p>
           <p class="lead">
             At 24 slides in 7 minutes pace, please email me any questions at:<br>
             <a href="mailto:jeremy.nelson@coloradocollege.edu">jeremy.nelson@coloradocollege.edu</a> 
              <br>
             Twitter:  <a href="https://twitter.com/jermnelson">@jermnelson</a>
           </p>
          </article> 
          <section class="col-md-6">
            <div class="panel panel-primary">
             <div class="panel-heading">
              <h3 class="panel-title">Books plugs</h3>

             </div>
             <div class="panel-body">
              <p class="lead">
               <img src="{{ url_for('static', filename='img/becoming-lean-library-cover.png') }}" 
                    class="img-thumbnail pull-right">
               My book, 
               <a href="http://becomingleanlibrary.com"><em>Becoming a Lean Library</em></a> 
               is being published 
               this fall by Chandos Publishing.
              </p>
              <p class="lead">
               I am currently writing my second book, 
               <img src="{{ url_for('static', filename='img/redis.png') }}" class="img-thumbnail pull-left">
               <em>Mastering Redis</em>, for Packt Publishing 
               with a projected publication date of early 2016. 
              </p>
             </div>
            </div>
          </section>
        </div>
      </div>
    </div>
</div>
