<div class="panel panel-default" id="islandora-ebadges">
    <div class="panel-heading" role="tab" id="islandora-ebadges-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#islandora-ebadges-body" aria-expanded="true" aria-controls="islandora-ebadges-body">Islandora eBadges</a>
           <span class="badge pull-right">19/24</span>
        </a>
      </h3>
    </div>
    <div id="islandora-ebadges-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="islandora-ebadges-head">
      <div class="panel-body">
       <h1>Islandora eBadges</h1>
      </div>
    </div>
 </div>
