<div class="panel panel-default hidden" id="islandora-ebadges">
    <div class="panel-heading" role="tab" id="islandora-ebadges-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#islandora-ebadges-body" aria-expanded="true" aria-controls="islandora-ebadges-body">Islandora eBadges</a>
           <span class="badge pull-right">19/24</span>
        </a>
      </h3>
    </div>
    <div id="islandora-ebadges-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="islandora-ebadges-head">
      <div class="panel-body">
       <h1>Islandora eBadges</h1>
       <p class="lead">
         A Flask application being developed for the Islandora.ca foundation to issue  Mozilla 
         <a href="http://openbadges.org/ ">Open Badges</a> (as mentioned by #OR2015 keynote 
         speaker) for camps, special projects, and other types of educational and 
         training events. Badge information and individually 
         issued badge images are stored in an embedded semantic server 
         using Schema.org and OpenBadges linked data.
       </p>
      </div>
    </div>
 </div>
