<div class="panel panel-default hidden" id="language-frameworks-meh">
    <div class="panel-heading" role="tab" id="language-frameworks-meh-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#language-frameworks-meh-body" 
          aria-expanded="true" aria-controls="language-frameworks-meh-body">Language, Frameworks, Meh!</a>
        <span class="badge pull-right">3/24</span>
      </h3>
    </div>
    <div id="language-frameworks-meh-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="language-frameworks-meh-head">
      <div class="panel-body">
       <h1 class="text-center">Language, Frameworks, Meh!</h1>
       <h2>My {insert-programming-whatever} is better than
        &hellip; your {insert-technology} sucks!</h2>
       <h2 class="text-center">Blah</h2>
       <p class="lead">These conversations are boring and become repetitive over time. I'm more interested
        in the broader <a href="https://en.wikipedia.org/wiki/Human-based_computation">human-computer</a> 
        implications of our digital platforms for libraries and cultural 
        heritage institutions. {#My technology choices in using 
        Fedora 4 as linked-data store,  is driven my 
        preference for Python-based tool-chains in middleware and data storage with heavy focus on
        Javascript for end-user UIX. #}
       </p>
       <div class="row">
        <section class="col-md-6">
       <h3>
        Have you ever had a conversation with a friend or a stranger about your work and
        you've had to explain what is a:
       </h3>
       <ul class="lead">
          <li>digital repository? (Duh, we're at the end of Open Repositories right!)</li>
          <li>ILS?</li>
          <li>Link resolver?</li>
          <li>OPAC?</li>
          <li>Discovery Layer?</li>
       </ul>
        </section>
        <section class="col-md-6">
        <h2>You know what? Me too &hellip;</h2>
         <p class="lead">Instead, I think we need approach our broader challenges as libraries,
          museums, archives, and communities that care about our past, current, and future culture 
          stores, through a compelling, narrative-driven, iterative 
          technology I call a Catalog Pull Platform - an open-source vision of library technology 
          that is owned and shared for us and by us to our institutions and people.   
         </p>                
        </section>
       </div>
       <h2>What do people (maybe) understand?</h2>
       <p class="lead">I've found that most people understand what is a library catalog, 
        anything else and they check-out. I do worry about library technology becoming 
        even more homogeneous and insular then it already is - the hype and promise of the 
        semantic web and library linked-data linked data in particular - is that I shouldn't 
        care about the production only the products and services between my systems and 
        yours.
       </p>
      </div>
    </div>
 </div>
