<div class="panel panel-default" id="language-frameworks-meh">
    <div class="panel-heading" role="tab" id="language-frameworks-meh-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#language-frameworks-meh-body" 
          aria-expanded="true" aria-controls="language-frameworks-meh-body">Language, Frameworks, Meh!</a>
        <span class="badge pull-right">3/24</span>
      </h3>
    </div>
    <div id="language-frameworks-meh-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="language-frameworks-meh-head">
      <div class="panel-body">
       <h1 class="text-center">Language, Frameworks, Meh!</h1>
       <h2>My {insert-programming-whatever} is better than
        &hellip; your {insert-technology} sucks!</h2>
       <h2 class="text-center">STOP IT!</h2>
       <p class="lead">These conversations are boring and become repetitive over time. I'm more interested
        in the broader <a href="https://en.wikipedia.org/wiki/Human-based_computation">human-computer</a> 
        implications of our digital platforms for libraries and cultural 
        heritage institutions.</p>
       <div class="row">
        <section class="col-md-6">
       <h3>
        Have you ever had a conversation with a friend or a stranger you just met about your work and
        you've had to explain what is a:
       </h3>
       <ul class="lead">
          <li>digital repository? (Duh, we're at the end of Open Repositories right!)</li>
          <li>ILS?</li>
          <li>Link resolver?</li>
          <li>OPAC?</li>
          <li>Discovery Layer?</li>
       </ul>
        </section>
        <section class="col-md-6">
       <h2>You know what? Me too &hellip;</h2>
        </section>
       </div>
       <h2 class="text-right">It may be shocking but people don't care!</h2>
       <h2 class="text-center">Maybe we shouldn't care (as much)?!</h2>

      </div>
    </div>
 </div>
