<div class="panel panel-default" id="obligatory-sheild-reference">
    <div class="panel-heading" role="tab" id="obligatory-sheild-reference-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#obligatory-sheild-reference-body" aria-expanded="true" aria-controls="obligatory-sheild-reference-body">Obligatory S.H.I.E.L.D. Reference</a>
         <span class="badge pull-right">2/24</span>
        
      </h3>
    </div>
    <div id="obligatory-sheild-reference-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="obligatory-sheild-reference-head">
      <div class="panel-body">
       <h2>So when I heard this session's title* &hellip;</h2>
       <h2 class="text-center">&hellip; my thought went to this television show:</h2>
       <img src="http://upload.wikimedia.org/wikipedia/en/6/6a/Agents_of_SHIELD_logo.jpg" class="img-thumbnail center-block">
  <a href="http://en.wikipedia.org/wiki/File:Agents_of_SHIELD_logo.jpg#/media/File:Agents_of_SHIELD_logo.jpg">Agents of SHIELD logo</a><br>Licensed under <a href="//en.wikipedia.org/wiki/File:Agents_of_SHIELD_logo.jpg" title="<a href=&quot;//en.wikipedia.org/wiki/Wikipedia:Non-free_use_rationale_guideline&quot; title=&quot;Wikipedia:Non-free use rationale guideline&quot;>Fair use</a> of copyrighted material in the context of <a href=&quot;//en.wikipedia.org/wiki/Agents_of_S.H.I.E.L.D.&quot; title=&quot;Agents of S.H.I.E.L.D.&quot;>Agents of S.H.I.E.L.D.</a>">Fair use</a> via <a href="//en.wikipedia.org/wiki/">Wikipedia</a>.
       <h2 class="text-center">This isn't Yet Another Hydra Presentation&reg;</h2>
       <img class="img-thumbnail center-block" 
        src="http://vignette1.wikia.nocookie.net/agentsofshield/images/e/e2/HYDRA1.png/revision/latest/scale-to-width/250?cb=20140710041814">
       <h2>BUT</h2>
	<h2>I am using a Python module called <a href="http://falconframework.org/">Falcon</a> for building REST APIs</h2>
        <div class="row">
          <section class="col-md-4 col-md-offset-1">
  	    <a href="http://falconframework.org/"><img class="img-thumbnail center-block" src="http://falconframework.org/img/falcon.png"></a>
          </section>
          <section class="col-md-2">
             <span style="font-size: 5em; font-weight: bold">?<br>=</span>
          </section>
          <section class="col-md-4">
             <img src="{{ url_for('static', filename='shield-logo.png') }}" class="img-thumbnail pull-left">
          </section>
        </div>
	<h2 class="text-center">hmm &hellip;but no too militaristic</h2> 
       <h3>*variation of a joke overheard at this year's Code4Lib</h3>
      </div>
    </div>
 </div>
