<div class="panel panel-default hidden" id="obligatory-shield-reference">
    <div class="panel-heading" role="tab" id="obligatory-shield-reference-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#obligatory-shield-reference-body" 
           aria-expanded="true" aria-controls="obligatory-shield-reference-body">Obligatory S.H.I.E.L.D. Reference</a>
         <span class="badge pull-right">2/24</span>
        
      </h4>
    </div>
    <div id="obligatory-shield-reference-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="obligatory-shield-reference-head">
      <div class="panel-body">
       <h1>Obligatory <em>Agents of S.H.I.E.L.D.</em> Reference</h1>
       <h2>So when I heard this session's title* &hellip;</h2>
       <h2 class="text-center">&hellip; my thought went to this television show:</h2>
       <div class="row">  
         <section class="col-md-4 col-md-offset-4">
           <div class="thumbnail">
            <img src="{{ url_for('static', filename='img/Agents_of_SHIELD_logo.jpg') }}" class="img-thumbnail center-block">
            <div class="caption">
             <h3>Source:</h2>
             <p><a href="http://en.wikipedia.org/wiki/File:Agents_of_SHIELD_logo.jpg#/media/File:Agents_of_SHIELD_logo.jpg" 
               class="text-center">Wikipedia</a>.<p>
            </div>
           </div>
         </section>
       </div>
       <h2 class="text-center">This isn't Yet Another Hydra Presentation&reg;</h2>
       <div class="row">
        <section class="col-md-5 col-md-offset-3">
         <div class="thumbnail">
           <img src="{{ url_for('static', filename='img/hydra.png') }}" alt="Hydra Logo">
           <div class="caption">
            <h3>Source</h3>
            <p>http://vignette1.wikia.nocookie.net/agentsofshield/</p>
            </p>
           </div>
         </div>
       </section>
       </div>
       <h2>BUT</h2>
	<h2>I am using a Python module called <a style="color: rgb(0,0,255)" href="http://falconframework.org/">Falcon</a> for building REST APIs</h2>
        <div class="row">
          <section class="col-md-4 col-md-offset-1">
  	    <a href="http://falconframework.org/"><img class="img-thumbnail center-block" src="http://falconframework.org/img/falcon.png"></a>
          </section>
          <section class="col-md-2">
             <span style="font-size: 5em; font-weight: bold">?<br>=</span>
          </section>
          <section class="col-md-4">
             <img src="{{ url_for('static', filename='img/shield-logo.png') }}" class="img-thumbnail pull-left">
          </section>
        </div>
	<h2 class="text-center">hmm &hellip;but no, too militaristic for my tastes</h2> 
       <h3>*variation of a joke overheard at this year's Code4Lib</h3>
      </div>
    </div>
 </div>
