<div class="panel panel-default hidden" id="participating">
    <div class="panel-heading" role="tab" id="participating-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#participating-body" 
           aria-expanded="true" aria-controls="participating-body">Participating</a>
        <span class="badge pull-right">23/24</span>
      </h4>
    </div>
    <div id="participating-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="participating-head">
      <div class="panel-body">
        <h1>Participating</h1>
      </div>
    </div>
 </div>
