<div class="panel panel-default hidden" id="participating">
    <div class="panel-heading" role="tab" id="participating-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#participating-body" 
           aria-expanded="true" aria-controls="participating-body">Participating</a>
        <span class="badge pull-right">23/24</span>
      </h4>
    </div>
    <div id="participating-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="participating-head">
      <div class="panel-body">
        <h1>Participating</h1>
        <p class="lead">
          The two primary sources from which the Catalog Pull Platform "pulls" requirements are
          Colorado College and the Library of Congress - two very different organizations. But 
          we want your use cases!   
        </p>
       <p class="lead">
         Of course, if you would like to try a more Python-based approach to using Fedora 4, I would love to 
         hear from you! Even better, pull requests are most welcome to these code repositories:</p>
        <ul class="lead">
          <li>BIBFRAME Datastore - <a href="https://github.com/jermnelson/BIBFRAME-Datastore">https://github.com/jermnelson/BIBFRAME-Datastore </a></li>
          <li>bibcat.org - <a href="https://github.com/jermnelson/bibframe-catalog">https://github.com/jermnelson/bibframe-catalog</a></li>
          <li>Semantic Server <a href="https://github.com/jermnelson/semantic-server">https://github.com/jermnelson/semantic-server</a></li>
          <li>Islandora OpenBadge - <a href="https://github.com/Islandora/Islandora-eBadges-Repository.git">https://github.com/Islandora/Islandora-eBadges-Repository.gites</a></li>
          <li>TIGER Cataloger - <a href="https://github.com/Tutt-Library/tiger-catalog ">https://github.com/Tutt-Library/tiger-catalog</a></li>
        </ul>
        <p class="lead">One of the biggest pain points at this stage in the development of 
        BIBFRAME Datastore is in installing and getting the various backend components running.
        (a problem shared with other Fedora-based frontends like Islandora and Hydra)  Our 
        goal by the end of the summer to have a Docker-based container to easy some of this issues 
        as well as a standard PIP based installation for both. 
        </p>
      </div>
    </div>
 </div>
