<div class="panel panel-default" id="participating">
    <div class="panel-heading" role="tab" id="participating-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#participating-body" aria-expanded="true" aria-controls="participating-body">Participating</a>
        </a>
      </h3>
    </div>
    <div id="participating-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="participating-head">
      <div class="panel-body"></div>
    </div>
 </div>