<div class="panel panel-default hidden" id="pulling-requirements">
    <div class="panel-heading" role="tab" id="pulling-requirements-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#pulling-requirements-body" 
           aria-expanded="true" aria-controls="pulling-requirements-body">Pulling Requirements</a>
        <span class="badge pull-right">7/24</span>
      </h3>
    </div>
    <div id="pulling-requirements-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pulling-requirements-head">
      <div class="panel-body">
        <h1>Pulling Requirements</h1>
        <div class="row">
         <article class="col-md-6">
           <h2></h2>
          <p class="lead">Inspired by both the Lean Startup and Toyota's 
           <a href="http://en.wikipedia.org/wiki/Lean_manufacturing">Lean Manufacturing</a>,
           the Catalog Pull Platform moves away from trying to anticipate the 
           needs and then "pushing" services and technology to patrons and staff, but instead 
           identifies and responds to needs and demands for library 
           technology by "pulling" directly from various constituencies served by libraries 
           and cultural heritage organizations.
          </p>  
         </article>
         <section class="col-md-4 col-sm-12">
          <blockquote>
	     Pull models are emerging as a response to growing uncertainty. Instead of dealing 
	     with uncertainty through tighter control, pull models do the opposite. They seek 
	     to expand the opportunity for creativity by local participants dealing with immediate 
	     needs&hellip;Rather than seeking to constrain the 
	     resources available to people, pull models strive to continually expand the choices 
	     available while at the same time helping people to find the resources that are most
	     relevant to them.
	     <footer>
	     John Seely Brown and John Hagel III, 2008 in <cite title="From Push To Pull : Emerging Models For
	     Mobilizing Resources">
	      <a href="http://www.johnseelybrown.com/Push2Pull.pdf">From Push To Pull : Emerging Models For
	     Mobilizing Resources</a>
	    </footer>
          </blockquote>
        </div>
      </div>
    </div>
 </div>
