<div class="panel panel-default" id="pulling-requirements">
    <div class="panel-heading" role="tab" id="pulling-requirements-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#pulling-requirements-body" 
           aria-expanded="true" aria-controls="pulling-requirements-body">Pulling Requirements</a>
        <span class="badge pull-right">6/24</span>
      </h3>
    </div>
    <div id="pulling-requirements-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pulling-requirements-head">
      <div class="panel-body"></div>
    </div>
 </div>
