<div class="panel panel-default" id="semantic-server-rest-api">
    <div class="panel-heading" role="tab" id="semantic-server-rest-api-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#semantic-server-rest-api-body" aria-expanded="true" aria-controls="semantic-server-rest-api-body">Semantic Server REST API</a>
        </a>
      </h3>
    </div>
    <div id="semantic-server-rest-api-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="semantic-server-rest-api-head">
      <div class="panel-body"></div>
    </div>
 </div>