<div class="panel panel-default hidden" id="semantic-server-api-to-linked-data-platform">
    <div class="panel-heading" role="tab" id="semantic-server-api-to-linked-data-platform-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#semantic-server-api-to-linked-data-platform-body" 
           aria-expanded="true" aria-controls="semantic-server-api-to-linked-data-platform-body">
           Semantic Server API to Linked Data Platform</a>

        <span class="badge pull-right">8/24</span>  
      </h3>
    </div>
    <div id="semantic-server-api-to-linked-data-platform-body" 
         class="panel-collapse collapse" role="tabpanel" aria-labelledby="semantic-server-api-to-linked-data-platform-head">
      <div class="panel-body">
       <h1>Semantic Server API to Linked Data Platform</h1>
       <div class="row">
        <article class="col-md-6">
         <h2>What is?</h2>
         <p class="lead">
          The <a href="https://github.com/jermnelson/semantic-server">Semantic Server</a> is 
          an open-source REST API wrapper that for managing RDF entities stored as 
          subject graphs. The current iteration uses Fedora 4 as a subject linked-data store and
          binary preservation store while providing    
          expanded and enriched search of these RDF entities through Elastic Search
          supported by an HTTP SPARQL endpoint using Fuseki.
         </p>
        </article>
        <article class="col-md-6">
          <h2>Decoupling &amp; Abstraction</h2>
          <p class="lead">
            The semantic server attempts to abstract the underlying search, 
            preservation, and triple-stores functionality with a REST API
            for client applications. 
          </p>
          <p class="lead">
            The semantic server source code is available at 
            <a href="https://github.com/jermnelson/semantic-server.git">
https://github.com/jermnelson/semantic-server.git
            </a>
          </p>
        </article>
       </div>
      </div>
    </div>
 </div>
