<div class="panel panel-default hidden" id="thank-you">
    <div class="panel-heading" role="tab" id="thank-you-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#thank-you-body" aria-expanded="true" aria-controls="thank-you-body">Thank-you</a>
        <span class="badge pull-right">24/24</span>

      </h4>
    </div>
    <div id="thank-you-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="thank-you-head">
      <div class="panel-body">
        <h1>Thank-you!!</h1>
        <p class="lead">With much appreciation to the Tutt Library, Colorado College, and the Library of Congress,
         and thank-you to Open Repositories for this opportunity to speak to you today.
        </p>
        <p>
         This presentation's source code is available at 
         <a href="https://github.com/jermnelson/open-repository-2015">https://github.com/jermnelson/open-repository-2015</a>
         Image sources:
        </p>
        <ul>
          <li><a href="http://en.wikipedia.org/wiki/File:Agents_of_SHIELD_logo.jpg#/media/File:Agents_of_SHIELD_logo.jpg">
            http://en.wikipedia.org/wiki/File:Agents_of_SHIELD_logo.jpg#/media/File:Agents_of_SHIELD_logo.jpg</a>
          </li>
          <li><a href="http://vignette1.wikia.nocookie.net/agentsofshield">http://vignette1.wikia.nocookie.net/agentsofshield</a>
          </li>
          <li><a href="http://upload.wikimedia.org/wikipedia/commons/d/d0/AssemblyLine.jpg">
            http://upload.wikimedia.org/wikipedia/commons/d/d0/AssemblyLine.jpg
            </a>
          </li>
          <li>
           <a href="http://bibframe.org/static/images/bibframe.png">http://bibframe.org/static/images/bibframe.png</a>
          </li>
          <li>
           <a href="http://camel.apache.org/banner.data/apache-camel-7.png">http://camel.apache.org/banner.data/apache-camel-7.png</a>
          </li>
        </ul>
      </div>
    </div>
 </div>
