<div class="panel panel-default hidden" id="tiger-catalog">
    <div class="panel-heading" role="tab" id="tiger-catalog-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#tiger-catalog-body" aria-expanded="true" 
           aria-controls="tiger-catalog-body">TIGER Catalog</a>
        <span class="badge pull-right">17/24</span>
      </h4>
    </div>
    <div id="tiger-catalog-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tiger-catalog-head">
      <div class="panel-body">
       <h1>TIGER Catalog</h1>
       <p class="lead">
        An ongoing experiment for replacing Colorado College's legacy ILS, the first 
        iteration of the TIGER Catalog Minimum Viable Product was released in 2014 
        using Aaron Schmidt's design he outlined in a 
        <a href="http://www.walkingpaper.org/5979">blog posting</a>. The first release of this TIGER 
        catalog illustrated the front-end viability of using <a href="http://flask.pocoo.org/">Flask</a> - a
        Python web microframework - for creating dynamic and lightweight web applications.
       </p>
       <h3><a href="http://catalog.coloradocollege.edu">http://catalog.coloradocollege.edu</a></h3>
        <iframe src="http://catalog.coloradocollege.edu" frameborder="0" border="0" cellspacing="0"></iframe>
      </div>
    </div>
 </div>
