<div class="panel panel-default hidden" id="traditional-push-processes">
    <div class="panel-heading" role="tab" id="traditional-push-processes-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#traditional-push-processes-body" 
           aria-expanded="true" aria-controls="traditional-push-processes-body">Traditional Push Processes</a>
        <span class="badge pull-right">5/24</span>
      </h4>
    </div>
    <div id="traditional-push-processes-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="traditional-push-processes-head">
      <div class="panel-body">
       <h1>Traditional Push Processes</h1>
       <h2>What do we mean by push?</h2>
      </div>
    </div>
 </div>
