<div class="panel panel-default hidden" id="traditional-push-processes">
    <div class="panel-heading" role="tab" id="traditional-push-processes-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" href="#traditional-push-processes-body" 
           aria-expanded="true" aria-controls="traditional-push-processes-body">Traditional Push Processes</a>
        <span class="badge pull-right">6/24</span>
      </h4>
    </div>
    <div id="traditional-push-processes-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="traditional-push-processes-head">
      <div class="panel-body">
       <h1 class="text-center">Traditional Push Processes</h1>
       <h3>TL&DR - "We already know what you want and this is our product pitch"</h3>
       <div class="row">
        <article class="col-md-5">
         <h2>What do we mean by push?</h2>
         <p class="lead">
           With it's origins in early modern industrial companies, best epitomized by
           Ford Motor Company, <strong>Push</strong> is about the ability of large 
           companies and organizations to accurately predict and mold demand of 
           customers and organize their operations around those predictions. 
         </p>
          <h2>Characteristics:</h2>
          <ul class="lead">
           <li>Top down design</li>
           <li>Centralized control</li>
           <li>Procedural &amp; Tightly coupled</li>
           <li>Marketing-focused</li>
          </ul>

        </article>
        <section class="col-md-7">
          <img src="{{ url_for('static', filename='img/AssemblyLine.jpg') }}" class="img-thumbnail">
        </section>
      </div>
    </div>
 </div>
