<div class="panel panel-default hidden" id="why-why-not">
    <div class="panel-heading" role="tab" id="why-why-not-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#why-why-not-body" aria-expanded="true" 
           aria-controls="why-why-not-body">Why? Why not us!</a>
        <span class="badge pull-right">22/24</span>
      </h4>
    </div>
    <div id="why-why-not-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="why-why-not-head">
      <div class="panel-body">
        <h1>Why? Why not us?</h1>
        <p class="lead">The purpose and promise of linked-data requires a structural shift in how 
         library's describe and manage their collections and resources. With Fedora 4 providing
         the foundational technology for the Catalog Pull Platform, the goal is to simplify our 
         library technology stack by almost paradoxically making it much easier to build custom
         and lightweight applications to solve our operational and bibliographic management
         challenges.   
      </div>
    </div>
 </div>
