<div class="panel panel-default hidden" id="why-why-not">
    <div class="panel-heading" role="tab" id="why-why-not-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#slides" 
           href="#why-why-not-body" aria-expanded="true" 
           aria-controls="why-why-not-body">Why? Why not!</a>
        <span class="badge pull-right">22/24</span>
      </h4>
    </div>
    <div id="why-why-not-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="why-why-not-head">
      <div class="panel-body">
        <h1>Why? Why not!</h1>
      </div>
    </div>
 </div>
