<div class="panel panel-default" id="why-why-not">
    <div class="panel-heading" role="tab" id="why-why-not-head">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#why-why-not-body" aria-expanded="true" aria-controls="why-why-not-body">Why? Why not!</a>
        </a>
      </h3>
    </div>
    <div id="why-why-not-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="why-why-not-head">
      <div class="panel-body"></div>
    </div>
 </div>