body {
  background-color: #591723;
  color: #B7ACA8;
  font-family: 'Josefin Slab', serif;
}


h2 a {
  color: #A8A8A8;
}

.countdown {
  font-size: .85em;
  color: #6b6b6b;
}

.panel-body {
  color: #000000;
}

.panel-body h1, h2, h3{
  font-weight: bold;
}

.panel-title {
 font-weight: bold;

}
