<!doctype html>
<html ng-app="or2015App">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.2/angular.min.js"></script>
        
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body ng-controller="OR2015AppController as or2015" class="container">
    <header>
    {% raw %}
    <h3>Open Repositories 2015 - Fedora Interest Group 3B: Hydra and Others </h3>
    <h2>Learning to use Fedora 4 as a BIBFRAME Linked Data Platform</h2>
    <h1>Slide {{ currentSlide }} of {{ slideCount }}</h1>
    <h1>{{ slideTitle }} 
        <span class="countdown">{{ countdown }} seconds</span></h1>
     
    {% endraw %}
    </header>
    <div class="">

    {% raw %}
    <div class="btn-group" role="group">
      <button ng-click="startSlideShow()" class="btn btn-default">Start</button>
      <button ng-click="showAllSlides()" class="btn btn-default">Show All</button>
    </div>
    {% endraw %}
     <br>
    </div>
    <div id="slides" role="tablist" class="panel-group">
    {% include 'slides/introduction.html' %}
    {% include 'slides/obligatory-shield-reference.html' %}
    {% include 'slides/language-frameworks-meh.html' %}
    {% include 'slides/catalog-pull-platform.html' %}
    {% include 'slides/connecting-people-and-institutions-with-algorithms.html' %}
    {% include 'slides/traditional-push-processes.html' %}
    {% include 'slides/pulling-requirements.html' %}
    {% include 'slides/semantic-server-api-to-linked-data-platform.html' %}
    {% include 'slides/fedora-4-for-named-graphs.html' %}
    {% include 'slides/bibframe-works-instances.html' %}
    {% include 'slides/bibframe-annotations-authorities.html' %}
    {% include 'slides/elasticsearch.html' %}
    {% include 'slides/apache-fuskei.html' %}
    {% include 'slides/semantic-server-rest-api.html' %}
    {% include 'slides/bibframe-datastore.html' %}
    {% include 'slides/bibframe-datastore-services-api.html' %}
    {% include 'slides/tiger-catalog.html' %}
    {% include 'slides/bibcat.html' %}
    {% include 'slides/islandora-ebadges.html' %}
    {% include 'slides/bibcat-reporting-module.html' %}
    {% include 'slides/colorado-college-library-website.html' %} 
    {% include 'slides/why-why-not.html' %}
    {% include 'slides/participating.html' %}
    {% include 'slides/thank-you.html' %}
    </div>
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
